<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="imagens/logo.jpg">

    <title>Bolos caseiro - S&atilde;o Jos&eacute;</title>
</head>

<body>
<header>
    <div class="bloco">
        <h1><img class="img-logo" src="imagens/logo.jpg"></h1>
        <nav>
            <ul>
                <li><a class="link" href="#">Home</a></li>
                <li><a class="link" href="#">Bolos</a></li>
                <li><a class="link" href="contato.html">Contato</a></li>
                <li><a class="link" th:href="@{/logout}">Logout</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>

    <ul class="lista-bolos">
        <li th:each="b : ${bolos}">
            <h2 th:text="${b.nome}"></h2>
            <img class="img-bolos" th:src="${b.nomeImagem}">
            <p class="bolo-descricao" th:text="${b.descricao}"></p>
            <p class="bolo-preco" th:text="${b.valor}"></p>
            <p class="" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/editar-bolo/{id} (id=${b.id})}">Editar</a></p>
            <p class="" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/excluir-bolo/{id} (id=${b.id})}">Apagar</a></p>
        </li>
    </ul>
    <div class="wpp">
        <a href="https://api.whatsapp.com/send?phone=5519999999999&text=Texto%20aqui"
           target="_blank">
            <img class="img-wpp" src="imagens/wpp-correto.png" width="50px" height="50px">
        </a>
    </div>
</main>
<footer>
    <img width="100px" height="100px" src="imagens/logo.jpg" alt="logotipo">
    <p>&copy; copyright - Todos os direitos reservados</p>
</footer>
</body>
</html>